/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s;
}

/* Interactive Background (Mouse Movement) */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        135deg, 
        rgba(255, 255, 255, 0.5), 
        rgba(255, 255, 255, 0.5) 1px, 
        transparent 1px, 
        transparent 10px
    );
    animation: moveLines 5s linear infinite;
}

@keyframes moveLines {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Header Section Styles */
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-bottom: 30px;
    z-index: 2;
    position: relative;
}

/* Typewriter Effect */
.typewriter {
    font-size: 3rem;
    color: white;
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 4s steps(40) 1s 1 normal both, blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Social Media Links */
.social-links {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    font-size: 1.5rem;
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    background-color: #7F8C8D;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-links a:hover {
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background-color: #3498DB;
}

.social-links i {
    margin-right: 10px;
}

/* Footer Section Styles */
footer {
    margin-top: 50px;
    background-color: #111111;
    padding: 20px;
    z-index: 2;
    position: relative;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #2980B9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
    font-size: 16px;
}

.theme-toggle:hover {
    background-color: #3498DB;
}

@media (max-width: 600px) {
    .typewriter {
        font-size: 2rem;
    }
    
    .social-links a {
        font-size: 1.2rem;
        padding: 12px 25px;
    }
}
